body {
    text-align: center;
    font-family: 'arial narrow';
    padding: 20px 300px;
}

#displayAll {
    border: 1px solid rgb(143, 47, 47);
}

#form {
    border: 1px solid rgb(85, 136, 112);
}

div {
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

button {
    margin-right: 3px;
}

